<div class="header" fxLayout="row">
  <img class="logo" src="/assets/img/living_legacy_logo.png" (click)="onNavHeaderLogoClick()" >
  <div fxFlex="flex" fxHide.lt-md></div>
  <div id="navcontainer" fxFlex="flex" fxLayoutAlign="center right">
    <ul id="navlist">
      <li class="active"><a href="javascript:void(0);" id="current" (click)="gotoVault()">My MEMORY VAULT</a></li>
      <li><a href="javascript:void(0);" (click)="gotoMyAccount()">My Account</a></li>
      <li><a href="javascript:void(0);" (click)="gotoHelp()">Need help?</a></li>
    </ul>
  </div>

</div>
