.header {
  padding: 20px;
}

.logo{
  height:50px;
}

#navlist{

}

#navlist li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  font-family: sans-serif;
  color: #6e6e6e;
  font-size: 12px;
}

#navcontainer ul li a {
  text-decoration: none;
  color: #6e6e6e;
}


#navcontainer ul li a:hover {
  text-decoration: underline;
}

