.subheader img {
  height: 85px;
}

.subheader{
  padding-top: 35px;
  padding-bottom:10px;
}


.intro {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
  background: url("/assets/img/bg-pattern-large.jpg") no-repeat;
}

.questionListContainer{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #000;
}

.questionListContainer a {
  text-decoration: none;
  color: #6e6e6e;
}


.questionListContainer a:hover{
  text-decoration: underline;
}


