
<div class="subheader ll-bg-blue" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="/assets/img/memories_of_me_with_icon.png">
  </div>
</div>

<div class="intro" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <p>
      Start by answering a question below.  Answer as many as you'd like or create and answer your own questions.
    </p>
    <p>
      Each response can be enhanced with pictures or videos.  Upload your own or use our easy-to-use record feature to add audio or video.  Every response can be securely uploaded to your MEMORY VAULT!
      You can edit or delete anything at any time.
    </p>

  </div>

</div>

<div class="questionListContainer" fxLayout="column" fxLayoutGap="10px">
  <div *ngFor="let question of starterQuestions | async" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
    <button style="width:150px;" *ngIf="starterQuestionAnswered(question)" pButton type="button" label="Answered" disabled></button>
    <button style="width:150px;" *ngIf="!starterQuestionAnswered(question)"pButton type="button" label="Answer" (click)="onAnswerQuestionClick(question)" (click)="answerQuestion(question)"></button>
    <a (click)="answerQuestion(question)" href="javascript:void(0);" >{{ question?.text}}</a>
  </div>
</div>
