
/*.form-content {*/
  /*background-image:url("/assets/img/pricing-bg-medium.jpg");*/
  /*background-repeat:no-repeat;*/
  /*background-size: 100% 100%;*/

  /*padding-bottom: 50px;*/
  /*padding-top: 50px;*/
/*}*/




.loginContainer{
  border-radius: 10px;
  padding: 25px;
  width: 400px;
  color:white;
}

.headerMessage{

}
.createAccountContainer{

}

.createAccountContainer h3 {
  color: white;
}


.loginContainer a {
  text-decoration: underline;
  color: #1dafec;
}


.loginContainer a:hover {
  text-decoration: none;
}

.switchLogin{
  font-size: smaller;
}

.errorMessage {
  color:red;
  font-weight: bold;
}
