.home-top-container{

}

app-header {
  min-height: 252px;
}

.blue-separator{
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  height:75px;
}

.hero{
  padding-top: 100px;
  padding-bottom:100px;
  background: url("/assets/img/home-bg.jpg") no-repeat;
  background-size: cover;
}

.hero p {
  color: #919191;
  font-weight: bold;;
  font-family: sans-serif;
  width: 50%;
  text-align: center;

}

.hero img{
  height: 100px;
}



.archive-your-life {
  padding-top: 25px;
  padding-bottom:25px;
  background: url("/assets/img/bg-pattern-large.jpg") no-repeat;
  background-size: cover;

}

.archive-your-life img.thumb {
  width: 200px;
  height: auto;
}


.archive-your-life img.headerText{
  height: 75px;
}

.archive-your-life p {
  color: #ffffff;
  width: 75%;
  font-family: sans-serif;

}
.archive-your-life h4 {
  font-family: sans-serif;
}


.create-personal-messages {
  padding: 20px;
}


.create-personal-messages img.headerText{
  height: 75px;
}


.create-personal-messages img.thumb{
  width: 250px;
  height:auto;
}

.give-gift-of-you {
  padding: 20px;

  color: #fff;
}
.give-gift-of-you p {
  text-align: right;
}


.give-gift-of-you img.headerText{
  height: 75px;
}


.give-gift-of-you img.thumb{
  width: 250px;
  height:auto;
}

.how-it-works {
  padding: 20px;

}


.how-it-works img.headerText{
  height: 75px;
}

.how-it-works-2 {
  color: white;
  background: url("/assets/img/bg-pattern-large.jpg") no-repeat;
}

.how-it-works-2 ul {
  list-style: none;
  /*margin: 0;*/
  /*padding: 0;*/
}

.how-it-works-2 li {
  /*margin: 10px 0;*/
  padding: 0 0 4px 30px;
  margin-left: 1em;
}

.how-it-works-2 li span{
  vertical-align: middle;
}


.how-it-works-2 li::before {
  content: "•";
  color: #1dafec;
  /*display: inline-block;*/
  width: 1em;
  margin-left: -1em;
  font-size: 40px;
}




.cant-find-words {
  padding-top: 25px;
  padding-bottom:25px;
  background: url("/assets/img/bg-pattern-large.jpg") no-repeat;
  background-size: cover;

}

.company-info{
  background-color: #eaeaea;
  padding: 50px;
}



