
<div class="archive-your-life" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <img class="headerText" src="/assets/img/archive_your_life_header_text.png"/>

  </div>
  <p>
    <b>Living Legacy</b> gives you a permanent place to tell and store your memories and  create  messages for loved ones to cherish now and forever. We’ll help you tell your stories with engaging questions we call Story Starters. Fill your digital MEMORY VAULT with photos, videos, letters and documents. Use our online tools to write or record audio and video right from your computer or mobile device.
  </p>
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxLayout="column" >
      <h4 class="ll-text-blue">It’s like having a permanent online time capsule of you!</h4>
      <div>
        <button pButton label="How it Works" class="ll-bg-blue"></button>
      </div>
    </div>

    <div fxLayout="column">
      <img class="thumb" src="/assets/img/home-archive-your-life-thumb.jpg">
    </div>
  </div>

</div>

<div class="create-personal-messages" fxLayout="column" fxLayoutAlign="center center">
  <img class="headerText" src="/assets/img/create_personal_messages_header_text.png"/>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <div fxLayout="column">
      <img class="thumb" src="/assets/img/home-cute-personal-messages-thumb.jpg">
    </div>
    <div fxLayout="column">
      <p>
        Take the time now to write or record a personal message to your granddaughter congratulating her on her wedding day.  Tell her you love her and even give some sound advice. Then, in the future when your granddaughter opens your message on her wedding day, she’ll have an unforgettable moment with you.
      </p>

    </div>
  </div>
</div>

<div class="give-gift-of-you ll-bg-blue" fxLayout="column" fxLayoutAlign="center center">

  <img class="headerText" src="/assets/img/give_the_gift_of_you_header_text.png"/>

  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">

    <div fxLayout="column">
      <p>
        “It was so simple. I signed in and recorded a life-changing story about joining the Peace Corp in Vietnam. I know this memory will be of great use to my current and future family. I’m not going to be around forever, but my message will be.”
        <br> - Mary B
      </p>

    </div>

    <div fxLayout="column">
      <img class="thumb" src="/assets/img/home-gift-of-you-thumb.jpg">
    </div>
  </div>

</div>

<div class="how-it-works" fxLayout="column" fxLayoutAlign="center center">
  <img class="headerText" src="/assets/img/how_it_works_header_text.png"/>
  <p>
    The way you tell, store and share your stories is easy and secure.
  </p>
</div>

<div class="how-it-works-2" fxLayout="column" fxLayoutAlign="center center">
  <ul>
    <li><span>Tell, store and share your life by writing memories or record them using our audio or video tools.</span></li>
    <li><span>All content is easily created with guidance from thoughtful questions we like to call STORY STARTERS.</span></li>
    <li><span>Securely store all of your content in your MEMORY VAULT forever. Edit at anytime.</span></li>
    <li><span>Easily share your content now and forever.</span></li>
  </ul>
</div>

<div class="tell-store-share" fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column">
    <h2 class="">Tell</h2>
    <ul>
      <li>Choose from a variety of thought prevoking questions to help organize  your content or create your own.</li>
      <li>Write your history,  recall memories, or create a personal message to a loved one.</li>
      <li>Upload old videos and pictures from your computer or social media like Facebook. Record your voice or video right from your computer.</li>
      <li>Create your MEMORY VAULT to share your stories or wisdom to anyone at anytime.</li>
    </ul>
  </div>

  <div fxLayout="column">
    <h2 class="">Store</h2>
    <ul>
      <li>LOCK all content securely in yourMEMORY VAULT.</li>
      <li>Edit content at anytime.</li>
      <li>We use Amazon Glacier Storage to secure, archive and permanently back up all of your content forever.</li>
      <li>All content is password protected.</li>
    </ul>
  </div>


  <div fxLayout="column">
    <h2 class="">Share</h2>
    <ul>
      <li>Send invitations to view content.</li>
      <li>Share content via email or social media.</li>
      <li>Grant access to some or all of your content to certain people you trust when you’re gone.</li>
    </ul>
  </div>

</div>

<div class="tell-store-share-2" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <button pButton type="button" label="Create your MEMORY VAULT Now" class="ll-bg-blue" ></button>
  </div>
  <div>
    <button pButton type="button" label="Try it Free" class="ll-bg-grey"></button>
  </div>
</div>

<div class="cant-find-words" fxLayout="column" fxLayoutAlign="center center">
  <h2 class="">Can't Find the Words?</h2>
  <p>
    Let us help you to create meaningful content. You’ll be guided through a series of questions to help organize your thoughts or create your own questions. You can upload pictures,videos, letters or documents. You can even record audio or video using or online tools to help tell your story or personal message.
  </p>

  <div fxLayout="row">
    <div fxLayout="column">
      <h4>Start By Answering Questions</h4>
      <p>Start by answering a question. Answer as many as you’d like or create and answer your own questions.</p>

      <p>Each response can be inhanced with pictures or videos. Upload your own or use our easy-to-use record feature to add audio or video. Every response will be securely uploaded to your MEMORY VAULT!  You can edit or delete anything at anytime!</p>

    </div>
    <div fxLayout="column">
      <h4>Save and Share</h4>
      <img src="/assets/img/vault-screenshot.jpg">

    </div>
  </div>

  <div class="" fxLayout="column" fxLayoutAlign="center center">
    <div>
      <button pButton type="button" label="Create your MEMORY VAULT Now" class="ll-bg-blue" ></button>
    </div>
    <div>
      <button pButton type="button" label="Try it Free" class="ll-bg-grey"></button>
    </div>
  </div>
</div>

<div class="join-community" fxLayout="column" fxLayoutAlign="center center">
  <h2 class="">Join the Living Legacy Community</h2>
  <p>Sign up to get updates and exclusive offers</p>
  <div class="ui-inputgroup">
    <input type="text" pInputText placeholder="email address">
    <button pButton type="button" label="Search"></button>

  </div>
</div>
