<div class="subheader ll-bg-blue" fxLayout="column" fxLayoutAlign="center center">

  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="/assets/img/lock-big.png">
    <img src="/assets/img/memory-vault-text.png">
  </div>

</div>

<div class="bio" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

  <div fxLayout="column">
    <img src="/assets/img/home-cute-personal-messages-thumb.jpg">
  </div>

  <div fxLayout="column">
    <p>Mary Stuart</p>
    <p>Maiden name: Williams</p>
    <p>Born July 2, 1950</p>
    <p>Modesto, CA</p>
  </div>

</div>

<div class="instructions" fxLayout="column" fxLayoutAlign="center center">
  <p>Below are all your responses securely stored in your Memory Vault</p>
  <p>Select a response to view, edit or share.</p>
</div>

<div class="ll-bg-blue" style="height: 50px;">

</div>


<!--<button pButton type="button" label="Sign Out" (click)="authService.logout()"></button>-->

