.subheader{
  padding-top: 25px;
  padding-bottom:10px;
}

.subheader img {
  height: 65px;
}


.subheader h1{
  color:white;
  font-family: sans-serif;
}


.subheader h4{
  color:white;
  font-family: sans-serif;
}



.bio {
  padding-top: 25px;
  padding-bottom:25px;
  background: url("/assets/img/bg-pattern-large.jpg") no-repeat;
  background-size: cover;


}



.bio img {
  height:80px;
  border: 2px solid #ffffff;

}

.bio p {
  margin: 0em;
  color:white;
  font-family: sans-serif;

}
.instructions{
  padding: 10px;
  font-weight: bold;
  color: #6e6e6e;
}

.instructions p{
  margin: .5em;
}

