.subheader{
  padding-top: 25px;
  padding-bottom:10px;
  color:white;
  font-family: sans-serif;
}

.subheader img {
  height: 65px;
}

.form-content {
  /*width: 100%;*/
  /*height:  500px;*/
  background-image:url("/assets/img/pricing-bg-medium.jpg");
  background-repeat:no-repeat;
  /*background-position:center bottom; !* or 0&#37; 100% *!*/
  background-size: 100% 100%;

  padding-bottom: 50px;
  padding-top: 50px;
}




.loginContainer{
  border-radius: 10px;
  padding: 25px;
  width: 400px;
}


.createAccountContainer{

}

.createAccountContainer h3 {
  color: white;
}
