<div class="subheader ll-bg-blue" fxLayout="column" fxLayoutAlign="center center">

  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="/assets/img/lets_get_started_header_text.png">
  </div>


  <div fxLayout="row" fxLayoutAlign="space-around center">
    <p>Take a minute to fill out the form below.</p>
  </div>

</div>

<div class="form-content">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="loginContainer ll-bg-grey" fxLayout="column" fxLayoutAlign="center center">
      <img src="/assets/img/living_legacy_logo.png" style="width:150px;" />

      <div  *ngIf="showLogin" fxLayout="column" fxLayoutAlign="center center">
        <p-message #errorComponent *ngIf="errorMessage" severity="error" text="Invalid username or password." ></p-message>

        <input type="text" [(ngModel)]="email" placeholder="email">
        <input type="password" [(ngModel)]="password" pPassword />
        <button pButton type="button" label="Log In" (click)="login()"></button>

      </div>


      <div class="createAccountContainer" #createAccount *ngIf="showCreateAccount" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <h3>CREATE ACCOUNT</h3>

        <form #signupForm="ngForm">

          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">

            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">

              <input #createEmail="ngModel" type="text"
                     ngModel="" [ngModelOptions]="{updateOn: 'blur'}"
                     placeholder="Email"
                     name="email"
                     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                     required>
              <p-message #errorComponent *ngIf="createEmail.invalid && (createEmail.dirty || createEmail.touched)" severity="error" text="Invalid email." ></p-message>

            </div>

            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" >

              <input #createPass="ngModel" type="password" ngModel="" placeholder="Enter password" name="password" required/>
                <input #createPass2="ngModel" type="password"
                       ngModel="" [ngModelOptions]="{updateOn: 'blur'}"
                       placeholder="Re-enter password"
                       name="passwordVerify"
                       required
                       pattern="{{createPass.value}}"
                  />
                <p-message #errorComponent *ngIf="createPass2.invalid && (createPass2.dirty || createPass2.touched)" severity="error" text="Passwords don't match." ></p-message>

            </div>


          </div>
        </form>

        <div>
          <button pButton type="button" label="Create Account" (click)="onCreateAccountClick()" [disabled]="!signupForm.form.valid"></button>
        </div>

      </div>

    </div>




  </div>


</div>


<!--
<div  fxLayout="row" fxLayoutAlign="center center">
  Login or <button pButton type="button" label="Create Account" (click)="setState('createAccount')"></button>
</div>
-->




<button pButton type="button" label="Sign Out" (click)="logout()"></button>

