<div style="background-color: #000000; width:100%; height:100%;">

  <div *ngIf="!initializing" class="media-recorder-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

    <button pButton type="button" label="Record Video" class="ll-bg-red" (click)="recordVideo()" icon="fa-video-camera"></button>

    <button pButton type="button" label="Record Audio Only" class="ll-bg-red" (click)="recordAudio()" icon="fa-video-camera"></button>

    <button pButton type="button" label="Record From Mobile Device" class="ll-bg-red" (click)="recordFromMobile()" icon="fa-video-camera"></button>

  </div>

  <div *ngIf="initializing" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <p style="color: white;">
      Initializing...
    </p>
  </div>

  <div #publisherDiv></div>

</div>
