<div class="subheader ll-bg-blue" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="/assets/img/pricing_plans_header_text.png">
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <h4>Choose a plan that best fits your needs</h4>
  </div>
</div>

<!--<button pButton type="button" label="LOGOUT" class="ll-bg-blue selectBtn" (click)="authService.logout()"></button>-->


<div class="media-content">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" fxLayoutGap="20px">
        <!-- pricing tables -->

          <div class="priceColumn" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button pButton type="button" label="SELECT" class="ll-bg-blue selectBtn" (click)="selectPlan($event, 'standard')"></button>
            <div class="ll-bg-grey pricePanel"  fxLayout="column" fxLayoutAlign="center center">
              <span class="title">Standard</span>

              <hr>

              <div class="priceContainer" fxLayout="row" fxLayoutAlign="center start" >
                <span class="dollar">$</span><span class="price">19</span>
              </div>
              <span class="duration">PER YEAR</span>

              <hr>

              <div  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
                <div  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3px">
                  <span class="size">10</span>
                  <div class="whiteLine"></div>
                </div>
                <span class="gigs">GIGABYTES</span>

              </div>

            </div>

            <div class="infoPanel">
                <ul>
                  <li>Start off your journey with our Standard Package</li>
                  <li>Upload up to 10 gigs of data to your MEMORY VAULT.</li>
                  <li>Upgrade your amount of gigabytes at any time.*</li>
                  <li>Full customer service included</li>
                  <li>Storage security guaranteed</li>
                </ul>
            </div>
          </div>

          <div class="priceColumn" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button pButton type="button" label="SELECT" class="ll-bg-blue selectBtn" (click)="selectPlan($event, 'forever-storage')"></button>
            <div class="ll-bg-blue pricePanel"  fxLayout="column" fxLayoutAlign="center center">
              <span class="title">Most Popular</span>

              <hr>

              <div class="priceContainer" fxLayout="row" fxLayoutAlign="center start" >
                <span class="dollar">$</span><span class="price">99</span>
              </div>
              <span class="duration">FOREVER STORAGE</span>

              <hr>

              <div  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
                <div  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3px">
                  <span class="size">50</span>
                  <div class="whiteLine"></div>
                </div>
                <span class="gigs">GIGABYTES</span>

              </div>

            </div>

            <div class="infoPanel">
              <ul>
                <li>Our most popular package</li>
                <li>Upload up to 50 gigs of data to your MEMORY VAULT.</li>
                <li>Upgrade your amount of gigabytes at any time.*</li>
                <li>Full customer service included</li>
                <li>Storage forever guaranteed!</li>
              </ul>
            </div>
          </div>

          <div class="priceColumn" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button pButton type="button" label="SELECT" class="ll-bg-blue selectBtn" (click)="selectPlan($event, 'forever-storage-eternal')"></button>
            <div class="ll-bg-grey pricePanel"  fxLayout="column" fxLayoutAlign="center center">
              <span class="title">Eternal</span>

              <hr>

              <div class="priceContainer" fxLayout="row" fxLayoutAlign="center start" >
                <span class="dollar">$</span><span class="price">99</span>
              </div>
              <span class="duration">FOREVER STORAGE</span>

              <hr>

              <div  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
                <div  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3px">
                  <span class="size">UNLIMITED</span>
                  <div class="whiteLine"></div>
                </div>
                <span class="gigs">GIGABYTES</span>

              </div>

            </div>

            <div class="infoPanel">
              <ul>
                <li>Unlimited entries and storage with our eternal package</li>
                <li>Upload up unlimited gigs of data to your MEMORY VAULT.</li>
                <li>Upload up unlimited gigs of data</li>
                <li>Full customer service included</li>
                <li>Storage forever guaranteed!</li>
              </ul>
            </div>
          </div>
        </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <!-- additional gigabytes -->
        <div>
          * Additional gigabytes
        </div>
        <div>
          <div class="priceContainer" fxLayout="row" fxLayoutAlign="center start" >
            <span class="dollar">$</span><span class="price">49</span>
          </div>
          <div>
            10 Gigabytes
          </div>
        </div>
      </div>
    </div>
</div>


<p-dialog class="transparent-dialog-bg"
          [showHeader]="false"
          [(visible)]="showLogin"
          [modal]="true"
          [dismissableMask]="true">
  <app-login-form
    [headerMessage]="'Please login before selecting a plan.'"
    (onLoginSuccess)="onLoginSuccess()"
    (onCreateAccountSuccess)="onCreateAccountSuccess()"></app-login-form>
</p-dialog>


<p-dialog class="transparent-dialog-bg"
          [showHeader]="false"
          [(visible)]="showCompletingPurchase"
          [modal]="true"
          [closeOnEscape]="false"
          [dismissableMask]="false">
  <div class="popup-body ll-bg-grey">

    <div class="" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" >
      <div *ngIf="showCompletePurchaseWait" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <h3>Completing purchase...</h3>
        <div style="width:200px;padding-top: 10px">
          <p-progressBar mode="indeterminate"></p-progressBar>
        </div>
      </div>

      <!--<div *ngIf="showCompletePurchaseSuccessFromTrial" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">-->
        <!--<p-message style="width:300px"  severity="success" text="Purchase Completed."></p-message>-->
        <!--<span>Would you like to save your trial data?</span>-->
        <!--<button pButton type="button" label="Go to my account" class="ll-bg-blue selectBtn" (click)="onGoToMyAccountClick()"></button>-->

      <!--</div>-->


      <div *ngIf="showCompletePurchaseSuccess" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <p-message severity="success" text="Purchase Completed."></p-message>

        <div *ngIf="showSaveTrialData" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <span>Would you like to save your trial data?</span>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button pButton type="button" label="Discard" class="ui-button-secondary" (click)="onDiscardTrialDataClick()"></button>
            <button pButton type="button success" label="Save" class="ll-bg-blue " (click)="onSaveTrialDataClick()"></button>

          </div>

        </div>

        <div *ngIf="showContinueAfterSuccess" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <button pButton type="button" label="Start Sharing Stories" class="ll-bg-blue selectBtn" (click)="onStartSharingClick()"></button>
          <span>or</span>
          <button pButton type="button" label="Go to my account" class="ll-bg-blue selectBtn" (click)="onGoToMyAccountClick()"></button>

        </div>


      </div>

      <div *ngIf="showCompletePurchaseError" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <p-message severity="error" text="Error during purchase."></p-message>
        <div>
          {{purchaseErrorMessage}}
        </div>
        <button pButton type="button" label="Close" class="ll-bg-blue selectBtn" (click)="closeError()"></button>

      </div>

    </div>


  </div>
</p-dialog>
