.subheader {
  border-bottom: 5px solid white;
  padding-top: 25px;
  padding-bottom:10px;
  color: white;
}




.subheader img {
  height: 65px;
}


.media-content {
  /*width: 100%;*/
  /*height:  500px;*/
  background-image:url("/assets/img/pricing-bg-medium.jpg");
  background-repeat:no-repeat;
  /*background-position:center bottom; !* or 0&#37; 100% *!*/
  background-size: 100% 100%;

  padding-bottom: 50px;
  padding-top: 50px;
}

.selectBtn{
  width: 100%;
  border-color: white;
  border-radius: 10px;
}

.priceColumn{
  width: 200px;
}


.priceColumn hr{
  width: 100%;
}
span.dollar{
  font-size: 14px;
  padding-top: 10px;
}
span.price{
  font-size: 48px;
}

.duration{
  font-size: 10px;
}
.size{
  font-size: 18px;

}
.gigs{
  font-size: 10px;
}
.whiteLine{
  border-bottom: 2px solid white;
  width: 100%;
}
.pricePanel{
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 10px;
}

.priceContainer{
  padding-top: 10px;
}

.infoPanel{
  background-color: white;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 10px;
}




/**
custom bullets:
https://stackoverflow.com/a/13150561/506182

 */
