.subheader{
  padding-top: 25px;
  padding-bottom:10px;
}

.subheader img {
  height: 65px;
}


.subheader h1{
  color:white;
  font-family: sans-serif;
}


.subheader h4{
  color:white;
  font-family: sans-serif;
}



.bio {
  padding-top: 25px;
  padding-bottom:25px;
  background: url("/assets/img/bg-pattern-large.jpg") no-repeat;
  background-size: cover;


}



.bio img {
  height:80px;
  border: 2px solid #ffffff;

}

.bio p {
  margin: 0em;
  color:white;
  font-family: sans-serif;

}

.media-content {
  /*width: 100%;*/
  /*height:  500px;*/
  background-image:url("/assets/img/pricing-bg-medium.jpg");
  background-repeat:no-repeat;
  /*background-position:center bottom; !* or 0&#37; 100% *!*/
  background-size: 100% 100%;
}

.carousel-container{
  width: 75%;
  margin: 0 auto;
}

.blue-separator {
  height: 10px;
}

.postText{
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.shareContent{
  height:300px;
}
