
<!--<p-carousel #carousel [value]="photos">-->
  <!--<ng-template let-photo pTemplate="item">-->
    <!--<div>-->
      <!--<img src="{{photo?.url}}">-->

    <!--</div>-->
  <!--</ng-template>-->


<!--</p-carousel>-->

<div class="subheader ll-bg-blue" fxLayout="column" fxLayoutAlign="center center">

  <div fxLayout="row" fxLayoutAlign="center center">
      <img src="/assets/img/lock-big.png">
      <img src="/assets/img/memory-vault-text.png">
  </div>


  <div fxLayout="row" fxLayoutAlign="space-around center">
    <h4>{{post.title}}</h4>
  </div>

</div>

<div class="bio" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

  <div fxLayout="column">
    <img src="/assets/img/home-cute-personal-messages-thumb.jpg">
  </div>

  <div fxLayout="column">
    <p>Mary Stuart</p>
    <p>Maiden name: Williams</p>
    <p>Born July 2, 1950</p>
    <p>Modesto, CA</p>
  </div>

</div>

<div class="media-content">

  <swiper [config]="swiperConfig" [(index)]="index" [useSwiperClass]="true">

    <div *ngFor="let fileData of photos | async">

      <div *ngIf="fileData?.file.contentType.indexOf('image') !== -1" fxLayout="column" fxLayoutAlign="start center" style="height: 99%;">
        <img src="{{fileData.file.downloadURLs[0]}}" style="height: 99%;">
      </div>

      <div *ngIf="fileData?.file.contentType.indexOf('video') !== -1" fxLayout="column" fxLayoutAlign="start center" style="height: 99%;">
          <video width="400" controls>
            <source src="{{fileData.file.downloadURLs[0]}}" type="video/mp4">
          </video>
      </div>

    </div>
    <!--<div>-->
      <!--Swiper slide 1-->
    <!--</div>-->
    <!--<div>-->
      <!--Swiper slide 2-->
    <!--</div>-->
    <!--<div>-->
      <!--Swiper slide 3-->
    <!--</div>-->
    <!--<div>-->
      <!--Swiper slide 4-->
    <!--</div>-->
    <!--<div>-->
      <!--Swiper slide 5-->
    <!--</div>-->
  </swiper>

  <!--<div class="carousel-container">-->
    <!--<button pButton label="prev" class="ll-bg-blue"></button>-->
    <!--<div>-->

      <!--<p-carousel #carousel [value]="photos">-->
        <!--<ng-template let-photo pTemplate="item">-->
          <!--<div>-->
            <!--<img src="{{photo?.url}}">-->

          <!--</div>-->
        <!--</ng-template>-->


      <!--</p-carousel>-->
    <!--</div>-->


    <!--<button pButton label="next" class="ll-bg-blue" (click)="onNextClick()"></button>-->

  <!--</div>-->

</div>
<div class="blue-separator ll-bg-blue"></div>

<div class="postText" >
  {{post.text}}
</div>

<div class="shareContent ll-bg-grey"></div>
