textarea {
  width: 100%;
}

.thumb{
  max-width: 100px;
}

.editPostContainer{
  max-width: 1280px;
  padding: 20px;
  margin: 20px;
}

/*.editPostContainer .ui-card-header img {*/
    /*width: 100%;*/
  /*max-height: 200px;*/
/*}*/

p-card{
  width: 200px;
}
p-header{
  width: 100% !important;
  height: 100px;
  max-height:100px;
}

p-header .thumbContainer{
  background-color: #6e6e6e;
}

p-header img {

  width: auto !important;
  height: 100px !important;
  max-height:100px !important;
  margin: auto;

}
p-card p-footer{
  color: #ccc;
  font-style: italic;
}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content.
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
}


