<div class="editPostContainer">
  <p-confirmDialog></p-confirmDialog>

  <div fxLayout="column" >
    <h4>{{post?.title}}</h4>
    <div fxLayout="row">
      <p-message *ngIf="showSuccessMessage" severity="success" text="Post Saved"></p-message>
      <a *ngIf="post && post?.state != 'draft'" (click)="viewPost($event)" href="javascript:void(0);">View Post</a>
    </div>

    <textarea #postText pInputTextarea>{{post.text}}</textarea>
    <div fxLayout="row">

      <div fxLayout="column">
        <button pButton type="button" label="Media Library" class="ll-bg-blue" icon="fa-list" disabled></button>
      </div>

      <div fxLayout="column">


        <button pButton type="button" label="Add photo, audio or video files" class="ll-bg-blue" (click)="addPicture()" icon="fa-cloud-upload"></button>
        <input #photoInput type="file" style="position: fixed; top: -100em" (change)="onPhotoInputChange($event)" multiple="multiple">
      </div>
      <!--
          <div fxLayout="column">
            <button pButton type="button" label="Add Audio or Video" class="ll-bg-blue" (click)="addVideo()"></button>
          </div>

          <div fxLayout="column">
            <button pButton type="button" label="Record Audio" class="ll-bg-red" (click)="recordAudio()"></button>
          </div>
      -->


      <div fxLayout="column">
        <input #videoInput type="file" style="position: fixed; top: -100em" accept="video/*;capture=camcorder" (change)="onPhotoInputChange($event)">

        <button pButton type="button" label="Record Video" class="ll-bg-red" (click)="recordVideo()" icon="fa-video-camera"></button>
      </div>


      <div fxLayout="column" fxFlex="20px">
      </div>

      <div fxLayout="column">
        <button pButton type="button" label="Save to my MEMORY VAULT" class="ll-bg-blue" (click)="save()"></button>
      </div>
    </div>

    <h2>Post Media</h2>

    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="10px" >

      <div *ngFor="let fileData of photos | async">
        <p-card>
          <p-header>
            <div class="thumbContainer"  fxLayout="row" fxLayoutAlign="center center">
              <img src="{{fileData.file.downloadURLs[0]}}">
            </div>

            <div *ngIf="fileData.editingCaption" id="editCaption-{{fileData.id}}">
              <textarea  pInputTextarea>{{fileData.caption}}</textarea>
              <button pButton type="button" label="Save Caption" class="ll-bg-blue" (click)="saveCaption(fileData)"></button>

            </div>

            <p *ngIf="!fileData.editingCaption" id="caption-{{fileData.id}}" >
              {{fileData.caption}}
            </p>
          </p-header>
          <p-footer ngStyle="">

            <p-lightbox type="content">
              <a class="group" href="#">
                Show
              </a>

              <div class="thumbContainer"  fxLayout="row" fxLayoutAlign="center center">
                <img src="{{fileData.file.downloadURLs[0]}}">
              </div>
            </p-lightbox>

            <a class="editCaptionLink" href="javascript:void(0);" (click)="editCaption(fileData)">Edit</a>
            <a class="deleteThumbLink" href="javascript:void(0);" (click)="deleteThumb(fileData)">Delete</a>
          </p-footer>
        </p-card>

      </div>


    </div>

  </div>



</div>
