.get-started {

}

.get-started .subheader{
  color: #fff;

}


.get-started .headerText {
  height: 75px;
  padding: 20px;
}

.selectOption a {
  padding: 10px;
}

a.learnModeLink {
  padding: 20px;
}
