<div fxLayout="column" class="get-started">

  <div class="ll-bg-blue" fxLayout="column" fxLayoutAlign="center center">
    <img class="headerText" src="/assets/img/lets_get_started_header_text.png"/>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="ll-bg-grey">

    <div class="ll-bg-grey subheader" style="text-align: left;" >
      <p>
        Start with a category below and follow the easy-to-use instructions to create your MEMORY VAULT.
      </p>
      <p>
        You’ll be guided through a series of questions to help organize your thoughts or create your own.
      </p>
      <p>
        You can upload pictures , videos, letters or documents. Write and record audio or video to help tell your story.
      </p>
    </div>

  </div>

  <div class="selectOption" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" >
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="30%" >
      <h3>Memories of Me</h3>
      <img src="/assets/img/memories_of_me_photo.png" style="height:200px;"/>
      <p>
        Tell your story. We’ll guide you through a series of thought-provoking questions designed to spur on memories of your past. Upload pictures, movies, letters and documents to enhance each event. Record audio or video memories with our built-in tools. Future generations will always be able to learn about your amazing life.
      </p>
      <button pButton type="button" label="Tell your story" class="ll-bg-blue" (click)="answerQuestions()" ></button>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="30%" >
      <h3>Create Personal Messages</h3>
      <img src="/assets/img/personal_messages_video.png" style="height:200px;"/>

      <p>
        Create personal messages to your loved ones. Give advice to certain people or simply congratulate them on milestones in their lives. These messages will be priceless to your friends and family when they read, listen or watch them far in the future. Write, or record audio or video messages with our built-in tools.
      </p>
      <button pButton type="button" label="Record a Message" class="ll-bg-red" ></button>
    </div>


  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <a class="learnModeLink" routerLink="/about">Learn More about sharing your legacy</a>
  </div>

</div>
