.subheader{
  padding-top: 25px;
  padding-bottom:10px;
}

.subheader img {
  height: 65px;
}

.subheader a {
  font-size: smaller;
  color: white;
  /*font-weight: bold;*/
  font-style: italic;
  text-decoration: underline;

}

.subheader a:hover{
  color: white;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;

}


.subheader h4{
  color:white;
  font-family: sans-serif;
}



.bio {
  padding-top: 25px;
  padding-bottom:25px;


}



.bio img {
  height:80px;
  border: 2px solid #ffffff;

}

.bio p {
  margin: 0em;
  color:white;
  font-family: sans-serif;

}

.media-content {
  /*width: 100%;*/
  /*height:  500px;*/
  background-image:url("/assets/img/pricing-bg-medium.jpg");
  background-repeat:no-repeat;
  /*background-position:center bottom; !* or 0&#37; 100% *!*/
  background-size: 100% 100%;

  padding-bottom: 50px;
  padding-top: 50px;
}

.launchRecordingThumb {
  width: 350px;
}

.addDocumentThumb {
  width: 100%;
  max-width: 250px;
  min-width: 100px;
}
.thumbContainer {
  width: 75%;
  margin: 0 auto;
  margin-top: 25px;

}
.thumbSwiper .swiper-container {
  width: 75%;

}

.swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: -20px !important;
}

.thumbSwiper swiper-pagination.swiper-pagination-bullets {
  bottom: -20px !important;

}

.carousel-container{
  width: 75%;
  margin: 0 auto;
}

.blue-separator {
  height: 10px;
}

.postTextContainer {
    padding: 25px;
}

.postTextArea{
  width: 100%;
}

.shareContent{
  height:300px;
}

.save-btn {
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.save-btn span {
  font-weight: normal;
  font-size: smaller;
}

