<div class="bio ll-bg-grey" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

  <div fxLayout="column">
    <img src="/assets/img/home-cute-personal-messages-thumb.jpg">
  </div>

  <div fxLayout="column">
    <p>Mary Stuart</p>
    <p>Maiden name: Williams</p>
    <p>Born July 2, 1950</p>
    <p>Modesto, CA</p>
  </div>

</div>

<div class="subheader ll-bg-blue" fxLayout="column" fxLayoutAlign="center center">
    <h4>How did your family celebrate holidays when you were a child?</h4>
    <div>
      <a routerLink="inspiration">Need Inspiration?</a>
    </div>
</div>

<audio #audioPlayer id="player" controls></audio>
<button pButton type="button" label="Stop Recording Audio" class="ll-bg-blue" fxFlexAlign="top left" (click)="stopRecordingAudio()"></button>


<div class="media-content">

  <!-- Main Content swiper -->
  <swiper [config]="mainContentSwiperConfig" [(index)]="index" [useSwiperClass]="true">
    <div style="width:587px;height:353px;" (click)="onLaunchRecordingClick()" fxLayout="column" fxLayoutAlign="start center">
      <app-media-recorder *ngIf="showMediaRecorder"></app-media-recorder>
      <img *ngIf="!showMediaRecorder" class="launchRecordingThumb" src="/assets/img/launch_recording_application.png">
    </div>



  </swiper>

  <!-- thumbnail swiper -->
  <div class="thumbContainer">

    <swiper class="thumbSwiper" [config]="thumbSwiperConfig"  [useSwiperClass]="true">

      <div (click)="addDocument()">
        <img class="addDocumentThumb" src="/assets/img/add_document.png">
      </div>

      <div *ngFor="let tempFile of tempFiles" fxLayout="column" fxLayoutAlign="center center">

        <div *ngIf="tempFile?.type === 'image'" fxLayout="column" fxLayoutAlign="center center" style="height: 99%;">
          <img [src]="tempFile.url" style="height: 99%;">
        </div>

        <div *ngIf="tempFile?.type === 'video'" fxLayout="column" fxLayoutAlign="center center" style="height: 99%;">
          <video width="400" controls>
            <source src="{{tempFile.url}}" type="video/mp4">
          </video>
        </div>

        <button pButton type="button" label="Edit Caption" class="ll-bg-blue" fxFlexAlign="top left" (click)="editCaption(tempFile)"></button>


      </div>





    </swiper>


  </div>
  <div style="margin-top: 50px;">
    <div class="swiper-pagination"></div>

  </div>

</div>
<div class="blue-separator ll-bg-blue" fxLayout="column" fxLayoutAlign="center center"></div>
<div class="postTextContainer" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
  <textarea class="postTextArea"
            [rows]="5" [cols]="30"
            pInputTextarea
            autoResize="autoResize"
            placeholder="Write your memoires here"
            [(ngModel)]="postText"
            >

  </textarea>

  <div>
    <button class="save-btn ll-bg-red" (click)="onSaveClick()" (mousedown)="onSaveMouseDown($event)">
      SAVE<br>
      <span>To your MEMORY VAULT</span>
    </button>
  </div>
</div>


<button pButton type="button" label="LOGOUT" class="ll-bg-blue selectBtn" (click)="authService.logout()"></button>

<!--<div fxLayout="column" fxLayoutAlign="center center">-->
  <!--<div>-->
    <!--<div class="save-btn ll-bg-red">-->
      <!--SAVE<br>-->
      <!--<span>To your MEMORY VAULT</span>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->
<div class="shareContent ll-bg-grey"></div>

<input #photoInput type="file" style="position: fixed; top: -100em" (change)="onPhotoInputChange($event)" accept="image/*" multiple="multiple">
<input #videoInput type="file" style="position: fixed; top: -100em" accept="video/*;capture=camcorder" (change)="onVideoInputChange($event)">
<input #audioInput type="file" style="position: fixed; top: -100em" accept="audio/*;capture=microphone" (change)="onAudioInputChange($event)">

<p-dialog header="Edit Caption" [(visible)]="showEditCaption" modal="modal" width="300" [responsive]="true">
    <textarea
      #captionTextArea
      class="postTextArea"
      style="width: 90%;min-height: 200px;"
      pInputTextarea
      placeholder="Enter a caption (200 characters max)"
    ></textarea>
  <p-footer>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button type="button" pButton icon="fa-close" (click)="onCaptionCancel()" label="Cancel" class="ui-button-secondary"></button>
      <button type="button" pButton icon="fa-check" (click)="onCaptionSave()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>


<p-dialog class="transparent-dialog-bg"
          [showHeader]="false"
          [(visible)]="showLogin"
          [modal]="true"
          [dismissableMask]="true">
  <app-login-form
    [disableLogin]="true"
    [showLogin]="false"
    [showCreateAccount]="true"
    [headerMessage]="'Please create an account to save your work.'"
    (onCreateAccountSuccess)="onCreateAccountSuccess()"></app-login-form>
</p-dialog>


<p-dialog class="transparent-dialog-bg"
          [showHeader]="false"
          [(visible)]="showCreateAccountResultDialog"
          [modal]="true"
          [closeOnEscape]="false"
          [dismissableMask]="false">
  <div class="popup-body ll-bg-grey">

    <div class="" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" >

      <div *ngIf="showCreateAccountSuccess" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <p-messages [closable]="false" [(value)]="createAccountSuccessMessages"></p-messages>
        <div>
          You will now be redirected to choose a membership plan.  Your will will be saved and uploaded once signup is complete.
        </div>

        <button pButton type="button" label="Select a Plan >" class="ll-bg-blue" (click)="selectPlan()"></button>

      </div>

      <div *ngIf="showCreateAccountError" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <p-messages [(value)]="createAccountErrorMessages"></p-messages>
        <div style="text-align: center">
          {{createAccountErrorMessage}}
        </div>
        <button pButton type="button" label="Close" class="ll-bg-blue selectBtn" (click)="closeError()"></button>

      </div>

    </div>


  </div>
</p-dialog>
