/* You can add global styles to this file, and also import other style files */

@import '~normalize.css/';

body{
  font-family: sans-serif;
}
.ll-text-blue {
  color: #1dafec;
}
.ll-text-grey {
  ​color: #414449 !important;
}

.ll-text-green {
  ​color: #32a826;
}



.ll-bg-blue {
  background-color: #1dafec !important;

}

.ll-bg-red {
  background-color: #e92351 !important;
}

.ll-bg-grey{
  background-color: #414449 !important;
}

.header-nav {
  ​color: #6e6e6e;
}



/*.thumbSwiper swiper-pagination.swiper-pagination-bullets {*/
  /*bottom: -20px !important;*/
/*}*/


.thumbSwiper .swiper-container-horizontal>.swiper-pagination-bullets{
  padding-top: 25px;
  bottom: -25px !important;
}
.thumbSwiper .swiper-pagination{
  position: static;
}

.popup-body{
  border-radius: 10px;
  padding: 25px;
  width: 400px;
  color:white;
}

.transparent-dialog-bg .ui-widget-content{
  border:none !important;;
  background: none !important;
}

.transparent-dialog-bg .ui-shadow {
  box-shadow: none;
}
