<div fxLayout="column">


  <div fxLayout="column" class="home-top-container">


    <div class="hero" fxLayout="row" fxLayoutAlign="end" >
      <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center">
        <img src="/assets/img/share_your_legacy_header_text.png"/>
        <p fxFlex="50%">Share your stories and create personal messages for loved ones to cherish now and forever
        </p>
        <div>
          <button pButton type="button" label="Create your MEMORY VAULT Now" class="ll-bg-blue" (click)="login()" ></button>
        </div>
        <div>
          <button pButton type="button" label="Try it Free" class="ll-bg-grey" (click)="login()"></button>
        </div>

      </div>
    </div>
  </div>

  <div class="tell-store-share-wrapper">
    <div class="tell-store-share" fxLayout="row" fxLayoutAlign="space-around  center">
      <div fxLayout="column">
        <img src="/assets/img/tell_text.png"/>
        <img src="/assets/img/icon-mic.png"/>

      </div>

      <div fxLayout="column">
        <img src="/assets/img/store_text.png"/>
        <img src="/assets/img/icon-lock.png"/>

      </div>


      <div fxLayout="column">
        <img src="/assets/img/share_text.png"/>
        <img src="/assets/img/icon-mail.png"/>

      </div>
    </div>
  </div>

  <div class="tell-store-share-2" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <p>
        <b>Living Legacy</b> gives yo a permanent place to tell, store and share your memories for loved ones to cherish now and forever
      </p>
      <div>

        <button pButton type="button" label="Learn More" class="ll-bg-blue"></button>
      </div>

    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <ul>
        <li>We'll help you tell stories with engaging questions we call <u>STORY STARTERS</u></li>
        <li>Fill your digital <u>MEMORY VAULT</u> with personal memories, photos, videos, etters and documents</li>
        <li>USer our easy-to-use tools to <u>RECORD AUDIO AND VIDEO</u> right from your computer or mobile device</li>
      </ul>
    </div>


    <div fxLayout="column">

    </div>
  </div>

  <div class="give-gift-of-you ll-bg-blue" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <img class="headerText" src="/assets/img/gift_icon.png"/>

      <img class="headerText" src="/assets/img/give_the_gift_of_you_header_text.png"/>

    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">

      <div fxLayout="column" >
        <p>
          “It was so simple. I signed in and recorded a life-changing story about joining the Peace Corp in Vietnam. I know this memory will be of great use to my current and future family. I’m not going to be around forever, but my message will be.”
          <br> - Mary B
        </p>

      </div>

      <div fxLayout="column">
        <img class="thumb" src="/assets/img/home-gift-of-you-thumb.jpg">
      </div>
    </div>

  </div>


  <div class="create-personal-messages" fxLayout="column" fxLayoutAlign="center center">
    <img class="headerText" src="/assets/img/create_personal_messages_header_text.png"/>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
      <div fxLayout="column">
        <img class="thumb" src="/assets/img/home-cute-personal-messages-thumb.jpg">
      </div>
      <div fxLayout="column">
        <p>
          Take the time now to write or record a personal message to your granddaughter congratulating her on her wedding day.  Tell her you love her and even give some sound advice. Then, in the future when your granddaughter opens your message on her wedding day, she’ll have an unforgettable moment with you.
        </p>

      </div>
    </div>
  </div>

  <div class="how-it-works" fxLayout="column" fxLayoutAlign="center center">
    <img class="headerText" src="/assets/img/how_it_works_header_text.png"/>
    <div>
      <p>
        Let us help you to crete meaningful content.  You'll be guided through a series of questions to help organize
        your thoughts or create your own questions.  You can upload pictures, videos, letters or documents.
        You can even record audio or video using our online tools to help you tell your story or personal message.
      </p>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">

      <div fxLayout="columns" fxLayoutAlign="center center">
        <div>
            <span>Start by Answering Questions</span>
        </div>

        <div>
            Answer as many as you like or answer your own questions.
        </div>

      </div>

      <div fxLayout="column" fxLayoutAlign="center center">
        <div>
          <span>Save and Share</span>
        </div>
      </div>
    </div>

  </div>


  <div class="company-info" fxLayout="column" fxLayoutAlign="center center">
  </div>

  <div class="copyright" fxLayout="column" fxLayoutAlign="center center">
      2018 Living Legacy Inc. All Rights Reserved
  </div>

  <div class="blue-separator ll-bg-blue"></div>

</div>
